<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/lib/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Annonces</title>
</head>
<body>
<div th:insert="parts/header :: nav"></div>

<h2 class="mb-5 mt-5">Liste des annonces du tri </h2>


<table class="table table-responsive mb-5 mt-5">

    <tbody>


    <tr th:each="annonce : ${annonces}" class="border-bottom p-3">
        <td th:text="${annonce.getTitre().toUpperCase()}" class="m"></td>
        <td><img width="200px" th:src="${annonce.getImage()}"/></td>
        <td>
            <a th:href="@{/annonce/list/{annonce}(annonce=${annonce.id})}" class="btn btn-info">Voir en detail</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/annonce/edit/{annonce}(annonce=${annonce.id})}" class="btn btn-secondary mb-5 mt-5">Modifier</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/annonce/delete/{annonce}(annonce=${annonce.id})}" class="btn btn-secondary mb-5 mt-5">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>




<div th:insert="parts/footer :: footer"></div>


<script type="text/javascript" th:src="@{/js/lib/bootstrap.bundle.js}"/>
<script type="text/javascript" th:src="@{/js/lib/bootstrap.js}"/>
</body>
</html>
